.level1-1
{
  background: url('images/SuperMarioBros3Map1-1.png');
  height: 52px;
  padding-top: 380px;
}

.mario
{
  background: url('images/super-mario-bros-3-mario-sprites-sheet.png') top left no-repeat;
  width: 46px;
  height: 40px; 
}

/* 46 width each */


.mario-stand.facing-right
{
  background-position: -300px -280px;
}

.mario-walk.facing-right
{
  background-position: -346px -280px;
}

.mario-stand.facing-left
{
  background-position: -254px -279px;
}

.mario-walk.facing-left
{
  background-position: -208px -279px;
}

.mario-crouch.facing-right
{
  background-position: -506px -276px;
}

.mario-crouch.facing-left
{
  background-position: -46px -275px;
}

.mario-jump.facing-right
{
  background-position: -400px -279px;
}